h1, h2, h3, li
{
	text-align: center;
	margin: 1em;
}
li
{
	font-size: larger;
}
input
{
	background: none;
	color: white;
	font-family: monospace;
	padding: 1em 0;
	border: none;
	text-align: center;
}
#identifier, #symbol
{
	width: 35vw;
}
#iconImage
{
	width: 5vw;
}
div
{
	width: 80vw;
	height: 5vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#iconUrl
{
	width: 50vw;
}
#exchange
{
	width: 50vw;
}
#price, #value, #liquidity
{
	width: 7ch;
}
select
{
	appearance: none;
	width: 100%;
	padding: 1em;
}
button
{
	width: 80vw;
	padding: 1em 1em;
	background-color: black;
	color: white;
	border: none;
	border-radius: 10px;
	font-family: monospace;
	margin: 1em 0;
}
#apikey
{
	width: 80vw;
}
#sourceCode
{
	background-color: black;
	width: 80vw;
}
li, h1
{
	color: coral;
}
#logo
{
}
h1
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
